{% extends "base.html" %}

{% block title %}Modify Room{% endblock %}

{% block content %}

<!-- modify form request over post-->

<h2>Reservations</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.guest_name }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Reviews</h2>
<div class="">
{% for review in reviews %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ review.name }}</h5>
            {% if review.rating < 10 %}
                <h6 class="card-subtitle mb-2">{{ review.rating }}</h6>
            {% endif %}
            <p class="card-text">{{ review.comment }}</p>
        </div>
    </div>
{% endfor %}
</div>

<form action="{{ url_for('user_route.add_review_route', room_id=room.id) }}" method="POST">
    <div class="form-group">
        <label for="comment">Comment:</label>
        <input type="text" name="comment" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Review
    </button>
</form>

<form method="post" action="{{ url_for('admin_route.modify_room_route', room_id=room.id) }}">
    <div class="form-group">
        <label for="room_number">Room Number:</label>
        <input type="text" class="form-control" id="room_number" name="room_number" placeholder="Enter Room Number" value="{{ room.room_number }}">
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Price" value="{{ room.price }}">
    </div>

    <div class="form-group">
        <label for="image">Image:</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="Enter Image" value="{{ room.image }}">
    </div>

    <div class="form-group">
        <label for="floor">Floor:</label>
        <input type="text" class="form-control" id="floor" name="floor" placeholder="Enter Floor" value="{{ room.floor }}">
    </div>

    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Enter Capacity" value="{{ room.capacity }}">
    </div>
        
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description" value="{{ room.description }}">
    </div>

    <div class="form-group">
        <label for="available">Available:</label>
        <select class="form-control" id="available" name="available">
            <option value="0" {% if room.available == 0 %} selected {% endif %}>No</option>
            <option value="1" {% if room.available == 1 %} selected {% endif %}>Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label for="average_rating">Average Rating:</label>
        <input type="text" class="form-control" id="average_rating" name="average_rating" placeholder="Enter Average Rating" value="{{ room.average_rating }}">
    </div>

    <button type="submit" class="btn btn-primary">Modify Room</button>
</form>

{% if session['is_admin'] %}
<h1>Danger Zone</h1>

<button onclick="" class="btn btn-danger">Remove room</button>
{% endif %}

{% endblock %}