{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<!--<h1>{{error}}</h1>-->
<br>
<div class="cont">
    <div class="form sign-in">
        <form id="login-form" method="post" action="{{ url_for('authenticate_route.login') }}">
              <h2>Welcome to our Hotel</h2>
              <label for="username">
                <span>Username</span>
                <input type="text" id="username" name="username">
              </label>
              <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password">
              </label>
              <p class="forgot-pass">Forgot password?</p>
              <button type="submit" class="submit-btn">Sign In</button>
        </form>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img__text m--in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img__btn">
          <span class="m--up">Sign Up</span>
          <span class="m--in">Sign In</span>
        </div>
      </div>
      
          <div class="form sign-up">
              <form method="post" action="{{ url_for('authenticate_route.signup') }}">
              <h2>Time to feel like home,</h2>
                  <label for="username">
                       <span>Username</span>
                      <input type="text" id="username" name="username">
                  </label>
                  <label for="password">
                      <span>Password</span>
                      <input type="password" id="password" name="password">
                  </label>
                  <label for="email">
                      <span>Email</span>
                      <input type="email" id="email" name="email">
                  </label>
                  <label for="phone_number">
                      <span>Phone</span>
                      <input type="text" id="phone_number" name="phone_number">
                  </label>
                  <label for="friendly_name">
                      <span>Friendly Name</span>
                      <input type="text" id="friendly_name" name="friendly_name">
                </label>
                <button type="submit" class="submit-btn">Sign Up</button>
              
              
                <!-- well this is stupid -->
                <!-- <div class="form-group">
                  <label for="role">Role</label>
                  <select class="form-control" id="role" name="role">
                    <option>admin</option>
                    <option>user</option>
                  </select>
                </div> -->
              
              </form>
          </div>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>

{% endblock %}
