{% extends "base.html" %}

{% block content %}

<h1>your reserves</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Price</th>
            <th>Image</th>
            <th>Floor</th>
            <th>Capacity</th>
            <th>check in</th>
            <th>check out</th>
            <th>status</th>
            <th></th><!--cancel</th> -->
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td><a href="{{ url_for('user_route.room', room_id=reservation.room_id) }}">{{ reservation.room_number }}</a></td>
            <td>${{ reservation.price }}</td>
            <td><img src="{{ url_for('static', filename='images/' + reservation.image) }}" alt="room image" width="200" height="200"></td>
            <td>{{ reservation.floor }}</td>
            <td>{{ reservation.capacity }}</td>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
            <!--  # 0 = pending, 1 = payed, not comfirm , 2 = confirmed, 3 = cancelled -->
            <td>{{ "not payed" if reservation.status == 0 else "payed, wait for confirmation" if reservation.status == 1 else "confirmed" if reservation.status == 2 else "cancelled" }}</td>
            <td><a href="{{ url_for('user_route.cancel_reservation', reservation_id=reservation.id) }}">cancel</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{%if request_pay%}

<h2>you have a reservation to <a href="{{ url_for('user_route.payment') }}">pay</a>    </h2>

{%endif%}

    
{% endblock %}
