{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block header %}
<link
  href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/userStarter.css') }}"
/>
<header class="site-header js-site-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="#">Press Hotel</a></div>
      <div class="col-6 col-lg-8">
        <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
          <nav role="navigation">
            <div class="container">
              <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                  <ul class="list-unstyled menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="/reserves">My Reserves</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- END navbar -->
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block body %}

<!-- main-slider -->
<section class="home-main-slider" id="home">
  <div class="companies20-content">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div class="slider-info banner-view bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>
                    Our new hotels will play a leading role in prompting the
                    world peace.
                  </h5>
                  <a
                  class="btn btn-style transparent-btn mt-sm-5 mt-4"
                  href="services.html"
                >
                  Our Services</a
                >
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top1 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>
                    Find more information about our new single rooms
                  </h5>
                  <a href="#more" class="btn btn-style btn-primary mt-sm-4 mt-3">Visit</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top2 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>
                    Take care of each customer individually the best way we can
                  </h5>
                  <a
                    class="btn btn-style transparent-btn mt-sm-5 mt-4"
                    href="services.html"
                  >
                    Our Services</a
                  >
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class="item">
        <li>
          <div class="slider-info banner-view banner-top3 bg bg2">
            <div class="banner-info">
              <div class="container">
                <div class="banner-info-bg">
                  <h5>
                    Experience our luxury hotel rooms
                  </h5>
                  <a href="#book" class="btn btn-style btn-primary mt-sm-4 mt-3">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</section>
<!-- /main-slider -->
<section class="home-availability-form" id="booking">
  <!-- /availability-form-section -->
  <div class="home-availability-form-main py-5">
    <div class="container pt-lg-3 pb-lg-5">
      <div class="forms-top">
        <div class="form-right">
          <div class="form-inner-cont">
            <h3 class="title-small">Check Availability</h3>
            <form
              action="search-results"
              method="post"
              class="signin-form"
            >
              <div class="row book-form">
                <div class="form-input col-md-4 col-sm-6 mt-3">
                  <label>Check-in Date</label>
                  <input
                    type="date"
                    name=""
                    placeholder="Date"
                    required=""
                  />
                </div>
                <div class="form-input col-md-4 col-sm-6 mt-3">
                  <label>Check-out Date</label>
                  <input
                    type="date"
                    name=""
                    placeholder="Date"
                    required=""
                  />
                </div>
                <div class="form-input col-md-4 col-sm-6 mt-3">
                  <label>Adults</label>
                  <select class="selectpicker">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                  </select>
                </div>
                <div class="form-input col-md-4 col-sm-6 mt-3">
                  <label>Children</label>
                  <select class="selectpicker">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                  </select>
                </div>
                <div class="form-input col-md-4 col-sm-6 mt-3">
                  <label>Price </label>
                  <input
                    type="text"
                    name=""
                    placeholder="Max Price ($)"
                    required
                  />
                </div>
                <div class="bottom-btn col-md-4 col-sm-6 mt-3">
                  <label>Check availability </label>
                  <button class="btn btn-style btn-primary w-100 px-2">
                    Check Availability
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //availability-form-section -->
<!-- about -->
<section class="home-about py-5">
  <div class="container py-sm-4">
    <div class="row">
      <div class="col-lg-6 about-left mb-md-0 mb-5">
        <h3 class="title-big">Relax in our Resort</h3>
        <h5>We make the best for all our customers.</h5>
        <br class="mt-3">
            The hotel will provide guests with air-conditioned rooms offering a desk, an electric tea pot, a fridge, a safety deposit box, a flat-screen TV and a private bathroom with a shower. At our Hotel  all rooms come with bed linen and towels.
            <br/>
            The daily breakfast offers buffet, continental or vegetarian options.


        </p>
        <a href="about.html" class="btn btn-style btn-primary mt-sm-5 mt-4"
          >Learn About Us</a
        >
      </div>
      <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
        <img
          src="static/images/top.jpg"
          alt=""
          class="img-fluid img-border mt-4"
        />
        <img
          src="static/images/bottom.jpg"
          alt=""
          class="img-fluid position-absolute img-position"
        />
      </div>
    </div>
  </div>
</section>
<!-- //about -->
<div class="best-rooms py-5">
  <div class="container py-lg-5 py-sm-4">
    <h3 class="title-big text-center">Best Rooms</h3>
    <div class="ban-content-inf row py-lg-3">
      <div class="maghny-gd-1 col-lg-6">
        <div class="maghny-grid">
          <figure class="effect-lily">
            <img class="img-fluid" src="static/images/room1.jpg" alt="" />
            <figcaption class="w3set-hny">
              <div>
                <h4 class="top-text">
                  Luxury home
                  <span>Peaceful Place to stay</span>
                </h4>
                <p>Only from 29.99$</p>
              </div>
            </figcaption>
          </figure>
          <div class="room-info">
            <h3 class="room-title">
              <a href="room-single.html">Luxury</a>
            </h3>
            <ul class="mb-3">
              <li><span class="fa fa-users"></span> 2 - 4 Guests</li>
              <li><span class="fa fa-bed"></span> Double bed</li>
            </ul>
            <div>
                <i class="fa fa-check" aria-hidden="true"> Refrigerator</i> <br/>
                <i class="fa fa-check" aria-hidden="true"> Lake view</i><br/>
                <i class="fa fa-check" aria-hidden="true"> Free Wi-fi</i><br/>
                <i class="fa fa-check" aria-hidden="true"> Private bathroom</i><br/>
            </div>
            <a href="/reserves" class="btn btn-style btn-primary mt-sm-4 mt-3"
              >Book Now</a
            >
          </div>
        </div>
      </div>
      
      <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
        <div class="row">
          <div class="maghny-gd-1 col-6">
            <div class="maghny-grid">
              <figure class="effect-lily border-radius">
                <img
                  class="img-fluid"
                  src="static/images/room2.jpg"
                  alt=""
                />
                <figcaption>
                  <div>
                    <h4><span>Family</span> Rooms</h4>
                    <p>From 24.99$</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="maghny-gd-1 col-6">
            <div class="maghny-grid">
              <figure class="effect-lily border-radius">
                <img
                  class="img-fluid"
                  src="static/images/room3.jpg"
                  alt=""
                />
                <figcaption>
                  <div>
                    <h4><span> Double</span> Rooms</h4>
                    <p>From 18.99$</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="maghny-gd-1 col-6 mt-4">
            <div class="maghny-grid">
              <figure class="effect-lily border-radius">
                <img
                  class="img-fluid"
                  src="static/images/room4.jpg"
                  alt=""
                />
                <figcaption>
                  <div>
                    <h4><span>Luxury</span> Rooms</h4>
                    <p>From 19.99$</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="maghny-gd-1 col-6 mt-4">
            <div class="maghny-grid">
              <figure class="effect-lily border-radius">
                <img
                  class="img-fluid"
                  src="static/images/room5.jpg"
                  alt=""
                />
                <figcaption>
                  <div>
                    <h4><span> Resort</span> Rooms</h4>
                    <p>From 14.99$</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="home-index3">
  <div class="midd-w3 py-5">
    <div class="container py-lg-5 py-md-3">
      <div class="row">
        <div class="col-lg-6 left-wthree-img text-righ">
          <div class="position-relative">
            <img src="static/images/about4.jpg" alt="" class="img-fluid" />


          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
          <h6>Discover our Locations</h6>
          <h3 class="title-big">
            20 Years of Hotels Experience
          </h3>
          <ul class="home-right-book mt-4">
            <li>
              <span class="fa fa-check" aria-hidden="true"></span>We make
              the best for all our customers
            </li>
            <li>
              <span class="fa fa-check" aria-hidden="true"></span>Follow our
              Resort Luxury Hotels
            </li>
            <li>
              <span class="fa fa-check" aria-hidden="true"></span>Luxury
              hotels and best resorts
            </li>
            <li>
              <span class="fa fa-check" aria-hidden="true"></span>Double
              rooms and family rooms
            </li>
            <li>
              <span class="fa fa-check" aria-hidden="true"></span>Enjoy a
              luxury experience
            </li>
            <li>
                <span class="fa fa-check" aria-hidden="true"></span>Most popular facilities
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- quotation -->
<div class="quotation py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="welcome-left text-center py-md-5 py-3">
      <h3>
        Discover our services. Relax and enjoy your holiday
      </h3>
      <a
        href="booking.html"
        class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2"
        >Book Now</a
      >
      <a href="contact.html" class="btn btn-style btn-primary mt-sm-5 mt-4"
        >Contact Us</a
      >
    </div>
  </div>
</div>


{% block script %}
<script src="/static/js/jquery-3.3.1.min.js"></script>

<script src="/static/js/owl.carousel.js"></script>

<!-- script for banner slider-->
<script>
    (function($) {
    $(document).ready(function() {
        $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false,
        },
        480: {
          items: 1,
          nav: false,
        },
        667: {
          items: 1,
          nav: true,
        },
        1000: {
          items: 1,
          nav: true,
        },
    }});
    });
}) (jQuery);

</script>


<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
<!-- END block script-->
{% endblock %}
<!-- END block body-->

{% block footer %}
<footer class="section footer-section">
  <div class="container">
    <div class="row pt-5">
      <p class="col-md-6 text-left">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
      </p>

      <p class="col-md-6 text-right social">
        <a href="#"><span class="fa fa-tripadvisor"></span></a>
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-vimeo"></span></a>
      </p>
    </div>
  </div>
</footer>
{% endblock %}
